<h1>Lakes Records</h1>

<div class="addNewRun">
    <h3>Add new Run</h3>

    <form action="/" method="POST">
        Lake Name: <input name="name" type="text" required>
        <br>
        Distance in Miles: <input name="distance" type="number" required>
        <br>
        Run Date: <input name="dateRun" type="date" required>
        <br>
        Run Time in minutes: <input name="time" type="number" required>
        <br>
        <br>
        <input name="addLake" type="submit" value="Add new Lake">
        <br>
    </form>
</div>
<hr>
<div class="RunData">
    <h3>All Runs</h3>
    {{# each Lakes}}
        <p>Name: {{this.name}}</p>
        <p>Distance: {{this.distance}}</p>
        <p>Run Date: {{this.runs.[0].dateRun}}</p>
        <p>Time Taken: {{this.runs.[0].time}}</p>
        <hr>
    {{/each}}
</div>

